* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none; }
  * ul {
    list-style-type: none; }
  * a {
    text-decoration: none; }

body, html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif; }

.wrap {
  width: 1248px;
  margin: 0 auto; }

.two_columns {
  display: flex;
  justify-content: space-between; }

header {
  z-index: 2;
  position: absolute;
  left: calc(50% - 624px);
  top: 29px;
  height: 90px;
  background-color: #312f30; }
  header ul {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 357px; }
    header ul li {
      padding: 33.5px 24px;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.7;
      cursor: pointer; }
      header ul li a {
        color: #fff; }
    header ul .header_active,
    header ul li:hover,
    header ul li:focus,
    header ul li:active {
      background-color: #ff3f40;
      transition: 0.5s; }
  header .menu_burger {
    display: none; }
    header .menu_burger .burger_button {
      transition: 0.4s; }
    header .menu_burger .burger_lines,
    header .menu_burger .burger_lines::after,
    header .menu_burger .burger_lines::before {
      position: absolute;
      width: 2em;
      top: calc(50%);
      left: calc(50% - 1em);
      height: 0.33em;
      background-color: #ff3f40;
      transition: 0.4s; }
    header .menu_burger .burger_lines::before {
      content: "";
      top: -12px;
      left: 0%; }
    header .menu_burger .burger_lines::after {
      content: "";
      top: 12px;
      left: 0%; }
    header .menu_burger .menu_burger_navigate {
      position: fixed;
      display: flex;
      flex-flow: column;
      background-color: #312f30;
      overflow-y: auto;
      width: 200px;
      top: 120px;
      right: -100%;
      transition: 0.5s;
      z-index: 100; }
      header .menu_burger .menu_burger_navigate .burger_link {
        display: flex;
        justify-content: center;
        color: #fff;
        padding: 33.5px 24px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.7;
        cursor: pointer; }
      header .menu_burger .menu_burger_navigate .header_active,
      header .menu_burger .menu_burger_navigate a:hover,
      header .menu_burger .menu_burger_navigate a:focus,
      header .menu_burger .menu_burger_navigate a:active {
        background-color: #ff3f40;
        transition: 0.5s; }
  header .menu_burger_action .burger_button,
  header .menu_burger_action .burger_lines {
    background-color: transparent; }
  header .menu_burger_action .burger_lines::before {
    top: 0;
    transform: rotate(45deg); }
  header .menu_burger_action .burger_lines::after {
    top: 0;
    transform: rotate(-45deg); }
  header .menu_burger_action .menu_burger_navigate {
    transition: 0.5s;
    top: 120px;
    right: 0; }

section {
  padding: 105px 16px; }
  section .block h1 {
    width: 588px;
    margin-bottom: 36px;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 10px;
    font-weight: 800; }
  section .block h2 {
    width: 501px;
    margin-bottom: 52px;
    font-size: 42px;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: bold; }
  section .block p {
    width: 518px;
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 1.75; }
  section .block button {
    width: 227px;
    height: 52px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.8;
    border-radius: 5px;
    border: 2px solid #ff3f40;
    background-color: #fff;
    letter-spacing: 2px;
    color: #ff3f40;
    cursor: pointer; }
  section .block .active_button,
  section .block button:hover,
  section .block button:focus,
  section .block button:active {
    color: #fff;
    background-color: #ff3f40;
    transition: 0.5s; }
  section .block .our_video {
    background-color: #ff3f40;
    box-shadow: 0px 14px 73px 0px rgba(0, 0, 0, 0.29);
    margin-left: 107px;
    width: 551px;
    height: 356px; }
    section .block .our_video iframe {
      width: 100%;
      height: 100%; }
  section .block .block_grup {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 80px; }
    section .block .block_grup .block_element {
      margin-left: 24px;
      margin-bottom: 52px; }
      section .block .block_grup .block_element .element_icon {
        color: #ff3f40;
        width: 44px;
        height: 33px;
        font-size: 38px;
        margin-bottom: 40px; }
      section .block .block_grup .block_element h4 {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 15px; }
      section .block .block_grup .block_element p {
        max-width: 287px;
        font-size: 16px;
        line-height: 1.75;
        margin-bottom: 0; }
    section .block .block_grup .block_element:nth-child(3),
    section .block .block_grup .block_element:nth-child(4) {
      margin-bottom: 0;
      margin-right: 0; }
  section .block_with_line h3 {
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 2px;
    margin-bottom: 33px; }
  section .block_with_line p {
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 1.75;
    width: 505px; }
  section .block_with_line hr {
    height: 3px;
    width: 132px;
    background-color: #ff3f40;
    margin: 0 0 70px 0; }
  section .with_line_center h3, section .with_line_center p {
    text-align: center;
    margin: 0 auto; }
  section .with_line_center h3 {
    margin-bottom: 33px; }
  section .with_line_center p {
    margin-bottom: 28px; }
  section .with_line_center hr {
    margin: 0 auto 86px auto; }
  section .block_photo .products_photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    section .block_photo .products_photo li {
      font-size: 22px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      cursor: pointer;
      margin: 0 29px 66px 29px; }
    section .block_photo .products_photo .active_products_photo,
    section .block_photo .products_photo li:hover,
    section .block_photo .products_photo li:focus,
    section .block_photo .products_photo li:active {
      color: #ff3f40;
      transition: 0.5s; }
  section .block_photo .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    section .block_photo .product .product_item {
      position: relative;
      top: 0;
      left: 0;
      width: 295px;
      height: 290px;
      margin: 10px 0; }
      section .block_photo .product .product_item img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    section .block_photo .product .product_item:not(:nth-child(4n+1)) {
      margin-left: 22.67px; }
  section .our_team {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    section .our_team .team_leader {
      width: 321px;
      height: 458px; }
      section .our_team .team_leader img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    section .our_team .team {
      margin-left: 73px; }
      section .our_team .team h5 {
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: 33px; }
      section .our_team .team p {
        font-size: 16px;
        line-height: 1.75;
        width: 640px;
        margin-bottom: 43px; }
      section .our_team .team .social_links {
        margin-bottom: 63px; }
        section .our_team .team .social_links ul {
          display: flex;
          flex-direction: row; }
          section .our_team .team .social_links ul li {
            font-size: 18px;
            font-style: italic;
            line-height: 1.5;
            margin-right: 30px; }
            section .our_team .team .social_links ul li a {
              color: #000; }
      section .our_team .team .team_photo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 850px; }
        section .our_team .team .team_photo .team_person {
          position: relative;
          width: 197px;
          height: 210px;
          cursor: pointer; }
          section .our_team .team .team_photo .team_person img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
          section .our_team .team .team_photo .team_person .name_person {
            display: none;
            position: absolute;
            left: 0;
            bottom: 0;
            color: #fff;
            height: 36px;
            width: 197px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 36px;
            text-align: center; }
        section .our_team .team .team_photo .name_person_active .name_person {
          display: block;
          background-color: rgba(0, 0, 0, 0.5); }
        section .our_team .team .team_photo .name_person_active img {
          opacity: 0.5; }
  section .subscribe {
    padding: 35px 58px;
    text-align: center;
    margin: 0 auto; }
    section .subscribe h2 {
      font-size: 42px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 33px; }
    section .subscribe p {
      font-size: 16px;
      line-height: 1.75;
      text-align: center;
      margin-bottom: 60px; }
    section .subscribe .subscribe_grup {
      display: flex;
      align-items: baseline;
      justify-content: center; }
      section .subscribe .subscribe_grup input {
        height: 11px;
        width: 449px;
        border-radius: 5px;
        font-size: 16px;
        line-height: 1.5;
        padding: 34px 36px;
        margin-right: 22px; }
      section .subscribe .subscribe_grup button {
        width: 214px;
        height: 79px;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.8;
        letter-spacing: 1px;
        border-radius: 5px;
        border: 2px solid #ff3f40;
        background-color: #ff3f40;
        color: #fff;
        cursor: pointer; }
  section .block_contact h3 {
    margin-bottom: 50px; }
  section .block_contact p {
    width: 731px;
    margin-bottom: 52px; }
  section .block_contact hr {
    margin-bottom: 77px; }
  section .contact_form {
    display: flex;
    justify-content: space-between; }
    section .contact_form form {
      width: 731px;
      margin-right: 106px; }
      section .contact_form form .contact_form_row {
        display: flex;
        justify-content: space-between; }
        section .contact_form form .contact_form_row input {
          font-size: 16px;
          line-height: 1.75;
          width: 237px;
          height: 15px;
          border-radius: 10px;
          background-color: #f6f2f1;
          margin-bottom: 46px;
          padding: 27px 51px; }
      section .contact_form form textarea {
        height: 179px;
        width: 637px;
        font-size: 16px;
        line-height: 1.75;
        border-radius: 10px;
        background-color: #f6f2f1;
        resize: none;
        padding: 35px 47px;
        margin-bottom: 45px; }
      section .contact_form form button {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.8;
        text-align: center;
        border-radius: 5px;
        width: 728px;
        height: 70px;
        color: #fff;
        background-color: #ff3f40;
        letter-spacing: 1px;
        cursor: pointer; }
    section .contact_form .contact_info {
      position: absolute;
      background-color: #312f30;
      right: 0;
      width: 577px; }
      section .contact_form .contact_info .contact_info_group {
        width: 285px;
        padding: 143px 143px 0 78px;
        height: 342px; }
        section .contact_form .contact_info .contact_info_group h6 {
          color: #fff;
          font-size: 18px;
          font-weight: bold;
          text-transform: uppercase;
          line-height: 1.8;
          margin-bottom: 40px; }
        section .contact_form .contact_info .contact_info_group li {
          font-size: 16px;
          line-height: 1.75;
          margin-bottom: 28px;
          opacity: .5; }
          section .contact_form .contact_info .contact_info_group li a {
            color: #f6f2f1; }

section:nth-child(2) {
  position: relative;
  top: 0;
  left: 0;
  padding-top: 222px;
  background-color: #f6f2f1; }

section:nth-child(3) {
  padding-bottom: 0; }
  section:nth-child(3) hr {
    height: 2px;
    width: 1248px;
    margin: 105px auto 0 auto;
    background-color: #f6f2f1; }

section:nth-child(4), section:nth-child(7) {
  display: flex;
  flex-direction: column; }

section:nth-child(5) {
  display: flex;
  flex-direction: column;
  padding: 35px 16px; }

section:nth-child(6) {
  color: #fff;
  background: url("../img/office.jpg");
  background-position: center;
  display: flex;
  flex-wrap: nowrap;
  background-blend-mode: multiply;
  background-size: cover;
  background-color: #312f30; }

footer {
  padding: 46px 0 30px 0;
  color: #fff;
  text-align: center;
  background-color: #312f30;
  width: 100%; }
  footer .copyright {
    opacity: .5;
    line-height: 36px;
    font-size: 16px; }
    footer .copyright a {
      color: #ff3f40;
      opacity: .9; }
  footer .grup_social {
    display: flex;
    flex-direction: row; }
    footer .grup_social a {
      margin-left: 18px; }
      footer .grup_social a i {
        font-size: 19px;
        border-radius: 50%;
        height: 33px;
        width: 33px;
        line-height: 33px;
        background-color: #f6f2f1;
        color: #312f30; }

@media only screen and (min-device-width: 1920px) {
  .wrap {
    width: 1660px; }

  header {
    left: calc(50% - 830px);
    top: 38.5px;
    height: 119.5px; }
    header ul {
      margin-left: 475px; }
      header ul li {
        padding: 44.5px 32px;
        font-size: 18.5px; }

  section {
    padding: 139.5px 21.5px; }
    section .block h1 {
      width: 782px;
      margin-bottom: 48px;
      font-size: 80px;
      letter-spacing: 13.5px; }
    section .block h2 {
      width: 666.5px;
      margin-bottom: 69px;
      font-size: 56px; }
    section .block p {
      width: 689px;
      margin-bottom: 74.5px;
      font-size: 21.5px; }
    section .block button {
      width: 302px;
      height: 69px;
      font-size: 24px;
      border-radius: 6.5px;
      border: 2.5px solid #ff3f40;
      letter-spacing: 2.5px; }
    section .block .our_video {
      box-shadow: 0px 18.5px 97px 0px rgba(0, 0, 0, 0.29);
      margin-left: 142.5px;
      width: 733px;
      height: 473.5px; }
    section .block .block_grup {
      margin-left: 106.5px; }
      section .block .block_grup .block_element {
        margin-left: 32px;
        margin-bottom: 69px; }
        section .block .block_grup .block_element .element_icon {
          color: #ff3f40;
          width: 44px;
          height: 33px;
          font-size: 38px;
          margin-bottom: 40px; }
        section .block .block_grup .block_element h4 {
          font-size: 32px;
          margin-bottom: 20px; }
        section .block .block_grup .block_element p {
          max-width: 381.5px;
          font-size: 21.5px; }
    section .block_with_line h3 {
      font-size: 56px;
      letter-spacing: 2.5px;
      margin-bottom: 44px; }
    section .block_with_line p {
      margin-bottom: 37px;
      font-size: 21.5px;
      width: 671.5px; }
    section .block_with_line hr {
      height: 4px;
      width: 175.5px;
      margin: 0 0 93px 0; }
    section .with_line_center h3 {
      margin-bottom: 44px; }
    section .with_line_center p {
      margin-bottom: 37px; }
    section .with_line_center hr {
      margin: 0 auto 114.5px auto; }
    section .block_photo .products_photo li {
      font-size: 29.5px;
      margin: 0 38.5px 88px 38.5px; }
    section .block_photo .product .product_item {
      width: 392.5px;
      height: 385.5px;
      margin: 13.5px 0; }
    section .block_photo .product .product_item:not(:nth-child(4n+1)) {
      margin-left: 30px; }
    section .our_team .team_leader {
      width: 427px;
      height: 609px; }
    section .our_team .team {
      margin-left: 97px; }
      section .our_team .team h5 {
        font-size: 40px;
        margin-bottom: 44px; }
      section .our_team .team p {
        font-size: 21.5px;
        width: 851px;
        margin-bottom: 57px; }
      section .our_team .team .social_links {
        margin-bottom: 84px; }
        section .our_team .team .social_links ul li {
          font-size: 24px;
          margin-right: 40px; }
      section .our_team .team .team_photo {
        width: 1130.5px; }
        section .our_team .team .team_photo .team_person {
          width: 262px;
          height: 279.5px; }
          section .our_team .team .team_photo .team_person .name_person {
            height: 48px;
            width: 262px;
            font-size: 24px;
            line-height: 48px; }
    section .subscribe {
      padding: 46.5px 77px; }
      section .subscribe h2 {
        font-size: 56px;
        margin-bottom: 44px; }
      section .subscribe p {
        font-size: 21.5px;
        margin-bottom: 80px; }
      section .subscribe .subscribe_grup input {
        height: 14.5px;
        width: 597px;
        border-radius: 6.5px;
        font-size: 21.5px;
        padding: 45px 48px;
        margin-right: 29.5px; }
      section .subscribe .subscribe_grup button {
        width: 284.5px;
        height: 105px;
        font-size: 24px;
        letter-spacing: 1.5px;
        border-radius: 6.5px;
        border: 2.5px solid #ff3f40; }
    section .block_contact h3 {
      margin-bottom: 66.5px; }
    section .block_contact p {
      width: 972px;
      margin-bottom: 69px; }
    section .block_contact hr {
      margin-bottom: 102.5px; }
    section .contact_form form {
      width: 972px;
      margin-right: 141px; }
      section .contact_form form .contact_form_row input {
        font-size: 21.5px;
        width: 315px;
        height: 20px;
        border-radius: 13.5px;
        margin-bottom: 61px;
        padding: 36px 68px; }
      section .contact_form form textarea {
        height: 238px;
        width: 847px;
        font-size: 21.5px;
        border-radius: 13.5px;
        padding: 46.5px 62.5px;
        margin-bottom: 60px; }
      section .contact_form form button {
        font-size: 24px;
        border-radius: 6.5px;
        width: 968px;
        height: 93px;
        letter-spacing: 1.5px; }
    section .contact_form .contact_info {
      width: 767.5px; }
      section .contact_form .contact_info .contact_info_group {
        width: 379px;
        padding: 190px 190px 0 103.5px;
        height: 452px; }
        section .contact_form .contact_info .contact_info_group h6 {
          font-size: 24px;
          margin-bottom: 53px; }
        section .contact_form .contact_info .contact_info_group li {
          font-size: 21.5px;
          margin-bottom: 37px; }

  section:nth-child(2) {
    padding-top: 295.5px; }

  section:nth-child(3) hr {
    height: 2.5px;
    width: 1660px;
    margin: 139.5px auto 0 auto; }

  section:nth-child(5) {
    padding: 46.5px 21.5px; }

  footer {
    padding: 61px 0 40px 0; }
    footer .copyright {
      line-height: 44px;
      font-size: 21.5px; }
    footer .grup_social a {
      margin-left: 24px; }
      footer .grup_social a i {
        font-size: 25.5px;
        height: 44px;
        width: 44px;
        line-height: 44px; } }
@media only screen and (min-device-width: 1110px) and (max-device-width: 1439px) {
  .wrap {
    width: 960px; }

  header {
    left: calc(50% - 480px);
    top: 22.5px;
    height: 69.5px; }
    header ul {
      margin-left: 275px; }
      header ul li {
        padding: 25.5px 18.5px;
        font-size: 11px; }

  section {
    padding: 81px 12.5px; }
    section .block h1 {
      width: 453px;
      margin-bottom: 27.5px;
      font-size: 46px;
      letter-spacing: 7.5px; }
    section .block h2 {
      width: 386px;
      margin-bottom: 40px;
      font-size: 32.5px; }
    section .block p {
      width: 399px;
      margin-bottom: 43px;
      font-size: 12.5px; }
    section .block button {
      width: 175px;
      height: 40px;
      font-size: 14px;
      border-radius: 4px;
      border: 1.5px solid #ff3f40;
      letter-spacing: 1.5px; }
    section .block .our_video {
      box-shadow: 0px 11px 56px 0px rgba(0, 0, 0, 0.29);
      margin-left: 82.5px;
      width: 424.5px;
      height: 274px; }
    section .block .block_grup {
      margin-left: 61.5px; }
      section .block .block_grup .block_element {
        margin-left: 18.5px;
        margin-bottom: 40px; }
        section .block .block_grup .block_element .element_icon {
          width: 34px;
          height: 25.5px;
          font-size: 29.5px;
          margin-bottom: 31px; }
        section .block .block_grup .block_element h4 {
          font-size: 18.5px;
          margin-bottom: 11.5px; }
        section .block .block_grup .block_element p {
          max-width: 221px;
          font-size: 12.5px; }
    section .block_with_line h3 {
      font-size: 32.5px;
      letter-spacing: 1.5px;
      margin-bottom: 25.5px; }
    section .block_with_line p {
      margin-bottom: 21.5px;
      font-size: 12.5px;
      width: 389px; }
    section .block_with_line hr {
      height: 2.5px;
      width: 101.5px;
      margin: 0 0 54px 0; }
    section .with_line_center h3 {
      margin-bottom: 25.5px; }
    section .with_line_center p {
      margin-bottom: 21.5px; }
    section .with_line_center hr {
      margin: 0 auto 66px auto; }
    section .block_photo .products_photo li {
      font-size: 17px;
      margin: 0 22.5px 51px 22.5px; }
    section .block_photo .product .product_item {
      width: 226px;
      height: 223.5px;
      margin: 7.5px 0; }
    section .block_photo .product .product_item:not(:nth-child(4n+1)) {
      margin-left: 17.5px; }
    section .our_team .team_leader {
      width: 247px;
      height: 352.5px; }
    section .our_team .team {
      margin-left: 56px; }
      section .our_team .team h5 {
        font-size: 23px;
        margin-bottom: 25.5px; }
      section .our_team .team p {
        font-size: 12.5px;
        width: 493px;
        margin-bottom: 33px; }
      section .our_team .team .social_links {
        margin-bottom: 48.5px; }
        section .our_team .team .social_links ul li {
          font-size: 14px;
          margin-right: 23px; }
      section .our_team .team .team_photo {
        width: 654.5px; }
        section .our_team .team .team_photo .team_person {
          width: 151.5px;
          height: 161.5px; }
          section .our_team .team .team_photo .team_person .name_person {
            height: 27.5px;
            width: 151.5px;
            font-size: 14px;
            line-height: 27.5px; }
    section .subscribe {
      padding: 27px 44.5px; }
      section .subscribe h2 {
        font-size: 32.5px;
        margin-bottom: 25.5px; }
      section .subscribe p {
        font-size: 12.5px;
        margin-bottom: 46px; }
      section .subscribe .subscribe_grup input {
        height: 8.5px;
        width: 345.5px;
        border-radius: 4px;
        font-size: 12.5px;
        padding: 26px 27.5px;
        margin-right: 17px; }
      section .subscribe .subscribe_grup button {
        width: 165px;
        height: 61px;
        font-size: 14px;
        border-radius: 4px;
        border: 1.5px solid #ff3f40; }
    section .block_contact h3 {
      margin-bottom: 38.5px; }
    section .block_contact p {
      width: 563px;
      margin-bottom: 40px; }
    section .block_contact hr {
      margin-bottom: 59.5px; }
    section .contact_form form {
      width: 563px;
      margin-right: 81.5px; }
      section .contact_form form .contact_form_row input {
        font-size: 12.5px;
        width: 182.5px;
        height: 11.5px;
        border-radius: 7.5px;
        margin-bottom: 35.5px;
        padding: 21px 39.5px; }
      section .contact_form form textarea {
        height: 138px;
        width: 490.5px;
        font-size: 12.5px;
        border-radius: 7.5px;
        padding: 27px 36px;
        margin-bottom: 34.5px; }
      section .contact_form form button {
        font-size: 14px;
        border-radius: 4px;
        width: 560.5px;
        height: 54px; }
    section .contact_form .contact_info {
      width: 444.5px; }
      section .contact_form .contact_info .contact_info_group {
        width: 219.5px;
        padding: 110px 110px 0 60px;
        height: 263.5px; }
        section .contact_form .contact_info .contact_info_group h6 {
          font-size: 14px;
          margin-bottom: 31px; }
        section .contact_form .contact_info .contact_info_group li {
          font-size: 12.5px;
          margin-bottom: 21.5px; }

  section:nth-child(2) {
    padding-top: 171px; }

  section:nth-child(3) hr {
    height: 1.5px;
    width: 960px;
    margin: 81px auto 0 auto; }

  section:nth-child(5) {
    padding: 27px 12.5px; }

  footer {
    padding: 35.5px 0 23px 0; }
    footer .copyright {
      line-height: 27px;
      font-size: 12.5px; }
    footer .grup_social a {
      margin-left: 14px; }
      footer .grup_social a i {
        font-size: 14.5px;
        height: 25.5px;
        width: 25.5px;
        line-height: 25.5px; } }
@media only screen and (min-device-width: 960px) and (max-device-width: 1109px) {
  .wrap {
    width: 830px; }

  .two_columns {
    display: flex;
    flex-direction: column; }

  header {
    left: calc(50% - 415px); }
    header ul {
      margin-left: calc(50% - 207.5px); }

  section .block {
    text-align: center; }
    section .block h1 {
      width: 100%;
      text-align: center; }
    section .block h2 {
      width: 100%;
      text-align: center; }
    section .block p {
      width: 505px;
      text-align: center;
      margin: 0 auto 56px auto; }
    section .block button {
      margin-bottom: 56px; }
    section .block .our_video {
      margin-left: 0px;
      width: 100%; }
    section .block .block_grup {
      margin-left: 0px; }
      section .block .block_grup .block_element {
        margin-left: 0px;
        margin-bottom: 52px; }
        section .block .block_grup .block_element .element_icon {
          float: left;
          font-size: 33px;
          margin-bottom: 0px;
          line-height: 33px; }
        section .block .block_grup .block_element h4 {
          position: relative;
          left: 10px;
          top: 0;
          height: 33px;
          text-align: left; }
        section .block .block_grup .block_element p {
          text-align: left; }
  section .block_photo .products_photo {
    display: flex;
    justify-content: space-around; }
    section .block_photo .products_photo li {
      margin: 0 0 66px 0; }
  section .block_photo .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    section .block_photo .product .product_item {
      width: 415px;
      height: 409px;
      margin: 0px; }
    section .block_photo .product .product_item:not(:nth-child(4n+1)) {
      margin-left: 0; }
  section .our_team {
    display: block; }
    section .our_team .team_leader {
      float: right;
      width: 250px;
      height: 250px; }
    section .our_team .team {
      margin-left: 0px;
      width: 100%; }
      section .our_team .team p {
        width: 400px; }
      section .our_team .team .social_links {
        margin-bottom: 63px; }
      section .our_team .team .team_photo {
        width: 100%; }
  section .contact_form {
    display: flex;
    flex-direction: column; }
    section .contact_form form {
      width: 100%;
      margin-right: 0px; }
      section .contact_form form .contact_form_row {
        width: 100%; }
      section .contact_form form textarea {
        width: calc(100% - 94px); }
      section .contact_form form button {
        width: 100%; }
    section .contact_form .contact_info {
      position: relative;
      background-color: #fff;
      margin-top: 0px;
      width: 100%; }
      section .contact_form .contact_info .contact_info_group {
        padding: 78px 0 0 0;
        height: 100%; }
        section .contact_form .contact_info .contact_info_group h6 {
          color: #000; }
        section .contact_form .contact_info .contact_info_group li {
          opacity: .9; }
          section .contact_form .contact_info .contact_info_group li a {
            color: #000; }

  section:nth-child(3) {
    padding-bottom: 0; }
    section:nth-child(3) hr {
      height: 2px;
      width: 830px;
      margin: 105px auto 0 auto;
      background-color: #f6f2f1; }

  footer .copyright {
    order: 2; }
  footer .grup_social {
    order: 1;
    margin: 0 auto 28px auto; }
    footer .grup_social a {
      margin: 0 18px 0 0; } }
@media only screen and (min-device-width: 640px) and (max-device-width: 959px) {
  .wrap {
    width: 554px; }

  .two_columns {
    display: flex;
    flex-direction: column; }

  header {
    left: calc(50% - 277px); }
    header ul {
      width: 100%;
      margin-left: 0px; }
      header ul li {
        padding: 33.5px 36.72px; }

  section .block {
    text-align: center; }
    section .block h1 {
      width: 100%;
      font-size: 55px;
      text-align: center; }
    section .block h2 {
      width: 100%;
      text-align: center; }
    section .block p {
      width: 505px;
      text-align: center;
      margin: 0 auto 56px auto; }
    section .block button {
      margin-bottom: 56px; }
    section .block .our_video {
      margin-left: 0px;
      width: 100%; }
    section .block .block_grup {
      width: 100%;
      margin-left: 0px; }
      section .block .block_grup .block_element {
        margin-left: 0px;
        margin-bottom: 52px; }
        section .block .block_grup .block_element .element_icon {
          float: left;
          font-size: 24px;
          margin-bottom: 0px;
          line-height: 24px; }
        section .block .block_grup .block_element h4 {
          position: relative;
          left: 10px;
          top: 0;
          height: 24px;
          text-align: left; }
        section .block .block_grup .block_element p {
          text-align: left;
          max-width: 245px; }
  section .block_with_line p {
    width: 505px; }
  section .block_photo .products_photo {
    float: left;
    display: block;
    width: 130px; }
    section .block_photo .products_photo li {
      margin: 0 0 58px 0; }
  section .block_photo .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    float: right;
    width: 414px; }
    section .block_photo .product .product_item {
      width: 195px;
      height: 195px;
      margin: 6px; }
    section .block_photo .product .product_item:not(:nth-child(4n+1)) {
      margin-left: 6px; }
  section .our_team {
    display: block; }
    section .our_team .team_leader {
      float: right;
      width: 200px;
      height: 200px; }
    section .our_team .team {
      margin-left: 0px;
      width: 100%; }
      section .our_team .team p {
        width: 340px; }
      section .our_team .team .social_links {
        margin-bottom: 63px; }
      section .our_team .team .team_photo {
        width: 100%; }
        section .our_team .team .team_photo .team_person {
          width: 130px;
          height: 150px; }
          section .our_team .team .team_photo .team_person .name_person {
            width: 100%; }
  section .subscribe {
    padding: 35px 0;
    margin: 0 auto; }
    section .subscribe .subscribe_grup input {
      width: 310px; }
    section .subscribe .subscribe_grup button {
      width: 149px; }
  section .contact_form {
    display: flex;
    flex-direction: column; }
    section .contact_form form {
      width: 100%;
      margin-right: 0px; }
      section .contact_form form .contact_form_row {
        width: 100%; }
        section .contact_form form .contact_form_row input {
          padding: 27px 15px; }
      section .contact_form form textarea {
        width: calc(100% - 94px); }
      section .contact_form form button {
        width: 100%; }
    section .contact_form .contact_info {
      position: relative;
      background-color: #fff;
      margin-top: 0px;
      width: 100%; }
      section .contact_form .contact_info .contact_info_group {
        padding: 78px 0 0 0;
        height: 100%; }
        section .contact_form .contact_info .contact_info_group h6 {
          color: #000; }
        section .contact_form .contact_info .contact_info_group li {
          opacity: .9; }
          section .contact_form .contact_info .contact_info_group li a {
            color: #000; }

  section:nth-child(3) {
    padding-bottom: 0; }
    section:nth-child(3) hr {
      height: 2px;
      width: 554px;
      margin: 105px auto 0 auto;
      background-color: #f6f2f1; }

  footer .copyright {
    order: 2; }
  footer .grup_social {
    order: 1;
    margin: 0 auto 28px auto; }
    footer .grup_social a {
      margin: 0 18px 0 0; } }
@media only screen and (min-device-width: 480px) and (max-device-width: 639px) {
  .wrap {
    width: 416px; }

  .two_columns {
    display: flex;
    flex-direction: column; }

  header {
    left: inherit;
    right: 0;
    width: 200px; }
    header .menu {
      display: none; }
    header .menu_burger {
      display: block; }

  section .block {
    text-align: center; }
    section .block h1 {
      width: 100%;
      font-size: 38px;
      text-align: center; }
    section .block h2 {
      font-size: 30px;
      width: 100%;
      text-align: center; }
    section .block p {
      width: 100%;
      text-align: center;
      margin: 0 auto 56px auto; }
    section .block button {
      margin-bottom: 56px; }
    section .block .our_video {
      margin-left: 0px;
      width: 100%; }
    section .block .block_grup {
      width: 100%;
      margin-left: 0px;
      justify-content: center; }
      section .block .block_grup .block_element {
        margin-left: 0px;
        margin-bottom: 52px; }
        section .block .block_grup .block_element .element_icon {
          float: left;
          font-size: 24px;
          margin-bottom: 0px;
          line-height: 24px; }
        section .block .block_grup .block_element h4 {
          position: relative;
          left: 10px;
          top: 0;
          height: 24px;
          text-align: left; }
        section .block .block_grup .block_element p {
          text-align: left;
          max-width: 245px; }
      section .block .block_grup .block_element:nth-child(3), section .block .block_grup .block_element:nth-child(4) {
        margin-bottom: 52px; }
  section .block_with_line h3 {
    font-size: 30px; }
  section .block_with_line p {
    width: 100%; }
  section .block_photo {
    display: flex;
    justify-content: space-between; }
    section .block_photo .products_photo {
      float: left;
      display: block;
      width: 130px; }
      section .block_photo .products_photo li {
        margin: 0 0 58px 0; }
    section .block_photo .product {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      float: right;
      width: 100%;
      max-height: 414px;
      overflow-x: scroll; }
      section .block_photo .product .product_item {
        width: 195px;
        height: 195px;
        margin: 6px; }
      section .block_photo .product .product_item:not(:nth-child(4n+1)) {
        margin-left: 6px; }
  section .our_team {
    display: block; }
    section .our_team .team_leader {
      float: right;
      width: 185px;
      height: 185px; }
    section .our_team .team {
      margin-left: 0px;
      width: 100%; }
      section .our_team .team p {
        width: 100%; }
      section .our_team .team .social_links {
        margin-bottom: 63px; }
      section .our_team .team .team_photo {
        width: 100%; }
        section .our_team .team .team_photo .team_person {
          width: 100px;
          height: 120px; }
          section .our_team .team .team_photo .team_person .name_person {
            width: 100%; }
  section .subscribe {
    padding: 35px 0;
    margin: 0 auto; }
    section .subscribe .subscribe_grup {
      display: block; }
      section .subscribe .subscribe_grup input {
        width: 310px;
        margin-bottom: 33px; }
      section .subscribe .subscribe_grup button {
        width: 149px; }
  section .contact_form {
    display: flex;
    flex-direction: column; }
    section .contact_form form {
      width: 100%;
      margin-right: 0px; }
      section .contact_form form .contact_form_row {
        display: block;
        width: 100%; }
        section .contact_form form .contact_form_row input {
          width: calc(100% - 30px);
          padding: 27px 15px; }
      section .contact_form form textarea {
        width: calc(100% - 94px); }
      section .contact_form form button {
        width: 100%; }
    section .contact_form .contact_info {
      position: relative;
      background-color: #fff;
      margin-top: 0px;
      width: 100%; }
      section .contact_form .contact_info .contact_info_group {
        padding: 78px 0 0 0;
        height: 100%; }
        section .contact_form .contact_info .contact_info_group h6 {
          color: #000; }
        section .contact_form .contact_info .contact_info_group li {
          opacity: .9; }
          section .contact_form .contact_info .contact_info_group li a {
            color: #000; }

  section:nth-child(3) {
    padding-bottom: 0; }
    section:nth-child(3) hr {
      height: 2px;
      width: 416px;
      margin: 105px auto 0 auto;
      background-color: #f6f2f1; }

  footer .copyright {
    order: 2;
    line-height: normal; }
  footer .grup_social {
    order: 1;
    margin: 0 auto 28px auto; }
    footer .grup_social a {
      margin: 0 18px 0 0; } }

/*# sourceMappingURL=main.css.map */
