*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    ul{list-style-type: none;}
    a{text-decoration: none;}
}

    $colWhite : #fff;
    $colBlack : #000;
    $colSpecial : #ff3f40;
    $colGrey: #f6f2f1;
    $colDark: #312f30;

body, html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header, section, footer{
    width: 1248px;
    margin: 0 auto;
}

header{
    position: absolute;
    left: calc(50% - 624px);
    height: 90px;
    background-color: $colDark;
    margin-top: 30px;

    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 357px;

        li{
            padding: 33.5px 24px;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.7;
            cursor: pointer;

            a{
                color: $colWhite;
            }
        }

        .active_li,
        li:hover,
        li:focus,
        li:active{
            background-color: $colSpecial;
            transition: 0.5s;
        }
    }
}

section{
    padding: 105px 16px;
    display: flex;
    justify-content: space-between;

    .block{

        h1{
            width: 588px;
            margin-bottom: 36px;
            font-size: 60px;
            text-transform: uppercase;
            line-height: 1.2;
            letter-spacing: 10px;
            font-weight: 800;
        }

        h2{
            width: 501px;
            margin-bottom: 52px;
            font-size: 42px;
            text-transform: uppercase;
            line-height: 1.3;
            font-weight: bold;
        }

        p{
            width: 518px;
            margin-bottom: 56px;
            font-size: 16px;
            line-height: 1.75;
        }

        button{
            width: 227px;
            height: 52px;
            font-size: 18px;
            font-weight: bold;
            line-height: 1.8;
            border-radius: 5px;
            border: 2px solid $colSpecial;
            background-color: $colWhite;
            letter-spacing: 2px;
            color: $colSpecial;
            cursor: pointer;
        }

        .active_button,
        button:hover,
        button:focus,
        button:active{
            color: $colWhite;
            background-color: $colSpecial;
            transition: 0.5s;
        }

        .our_video {
            background-color: rgb(255, 34, 34);
            box-shadow: 0px 14px 73px 0px rgba(0, 0, 0, 0.29);
            margin-left: 107px;
            width: 551px;
            height: 356px;
        }

        .block_grup{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-left: 80px;

            .block_element{
                margin-left: 24px;
                margin-bottom: 52px;

                .element_icon{
                    color: $colSpecial;
                    width: 44px;
                    height: 33px;
                    font-size: 38px;
                    margin-bottom: 40px;
                }

                h4{
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 1.2;
                    margin-bottom: 15px;
                }

                p{
                    max-width: 287px;
                    font-size: 16px;
                    line-height: 1.75;
                    margin-bottom: 0;
                }
            }

            .block_element:nth-child(3),
            .block_element:nth-child(4){
                    margin-bottom: 0;  
                    margin-right: 0;
                }
        }
    }
    
    .block_with_line{

        h3{
            font-size: 42px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.2;
            letter-spacing: 2px;
            margin-bottom: 33px;
        }

        p{
            margin-bottom: 28px;
            font-size: 16px;
            line-height: 1.75;
            width: 505px;
        }

        hr{
            height: 3px;
            width: 132px;
            background-color: $colSpecial;
            margin: 0 0 70px 0;
        }
    }

    .with_line_center{

        h3, p{
            text-align: center;
            margin: 0 auto;
        }

        h3{
            margin-bottom: 33px;
        }

        p{
            margin-bottom: 28px;
        }

        hr{
            margin: 0 auto 86px auto;
        }
    }
    
    .block_photo{

        .products_photo{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            li{
                font-size: 22px;
                font-weight: 600;
                line-height: 1;
                text-transform: uppercase;
                cursor: pointer;
                margin: 0 29px 66px 29px;
            }

            .active_products_photo,
            li:hover,
            li:focus,
            li:active{
                color: $colSpecial;
                transition: 0.5s;
            }
        }

        .product{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .product_item{
                position: relative;
                width: 295px;
                height: 290px;
                margin: 10px 0;

                img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                }
            }
        }
    }

    .our_team{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .team_leader{
            width: 321px;
            height: 458px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .team{
            margin-left: 73px;
            
            h5{
                font-size: 30px;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 1.2;
                margin-bottom: 33px;
            }

            p{
                font-size: 16px;
                line-height: 1.75;
                width: 640px;
                margin-bottom: 43px;
            }

            .social_links{
                margin-bottom: 63px;
                
                ul{
                    display: flex;
                    flex-direction: row;

                    li{
                        font-size: 18px;
                        font-style: italic;
                        line-height: 1.5;
                        margin-right: 30px;
                        
                        a{
                            color: $colBlack;
                        }
                        
                    }
                }
            }

            .team_photo{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 850px;

                .team_person{
                    position:relative;
                    width: 197px;
                    height: 210px;
                    cursor: pointer;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .name_person{
                        display: none;
                        position: absolute;
                        left:0;
                        bottom: 0;
                        color: $colWhite;
                        height: 36px;
                        width: 197px;
                        font-size: 18px;
                        font-weight: 600;
                        text-transform: uppercase;
                        line-height: 36px;
                        text-align: center;
                    }

                    img:hover{
                        opacity: 0.5;
                    }
                }

                .name_person_active .name_person,
                .team_person:hover
                .name_person{
                    display: block;
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }

    .subscribe{
        padding: 35px 58px;
        text-align: center;
        margin: 0 auto;

        h2{
            font-size: 42px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 33px;
        }

        p{
            font-size: 16px;
            line-height: 1.75;
            text-align: center;
            margin-bottom: 60px;
        }

        .subscribe_grup{
            display: flex;
            align-items: baseline;
            justify-content: center;

            input{
                height: 11px;
                width: 449px;
                border-radius: 5px;
                font-size: 16px;
                line-height: 1.5;
                padding: 34px 36px;
                margin-right: 22px;
            }

            button{
                width: 214px;
                height: 79px;
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;;
                line-height: 1.8;
                letter-spacing: 1px;
                border-radius: 5px;
                border: 2px solid $colSpecial;
                background-color: $colSpecial;
                color: $colWhite;
                cursor: pointer;
            }
        }       
    }

    .block_contact{

        h3{
            margin-bottom: 50px;
        }

        p{
            width: 731px;
            margin-bottom: 52px;
        }

        hr{
            margin-bottom: 77px;
        }
    }

    .contact_form{
        display: flex;
        justify-content: space-between;

        form{
            width: 731px;
            margin-right: 106px;
        
            .contact_form_row{
                display: flex;
                justify-content: space-between;
                
                input{
                    font-size: 16px;
                    line-height: 1.75;
                    width: 237px;
                    height: 15px;
                    border-radius: 10px;
                    background-color: $colGrey;
                    margin-bottom: 46px;
                    padding: 27px 51px;
                }
            }

            textarea{
                height: 179px;
                width: 637px;
                font-size: 16px;
                line-height: 1.75;
                border-radius: 10px;
                background-color: $colGrey;
                resize: none;
                padding: 35px 47px;
                margin-bottom: 45px;
            }

            button{
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.8;
                text-align: center;
                border-radius: 5px;
                width: 728px;
                height: 70px;
                color: $colWhite;
                background-color: $colSpecial;
                letter-spacing: 1px;
                cursor: pointer;
            }
        }

        .contact_info{
            padding: 143px 0 0 78px;
            width: 499px;
            height: 342px;
            background-color: $colDark;

            h6{
                color: $colWhite;
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.8;
                margin-bottom: 40px;
            }

            li{
                font-size: 16px;
                line-height: 1.75;
                margin-bottom: 28px;
                opacity: .5;

                a{
                    color: $colGrey;
                }

            }          
        }
    }
}

section:nth-child(3){
    border-bottom: 2px solid $colGrey;
}

section:nth-child(4), section:nth-child(7){
    display: flex;
    flex-direction: column;
}

section:nth-child(5){
    display: flex;
    flex-direction: column;
    padding: 35px 16px;
}

.first_window{
    width: 100%;
    padding-top: 90px;
    background-color: $colGrey;
}

.second_window{
    color: $colWhite;
    width: 100%;
    background: url("../img/office.jpg");
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    background-blend-mode: multiply;
    background-size: cover;
    background-color: $colDark;
}

.third_window{
    width: 100%;
    background-color: $colDark;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 46px 0 30px 0;
    color: $colWhite;
    text-align: center;


    .copyright{
        opacity: .5;
        line-height: 36px;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        
        a{
            color: $colSpecial;
            opacity: .9;
        }
    }

    .grup_social{
        display: flex;
        flex-direction: row;

        a{
            margin-left: 18px;

            i{
                font-size: 19px;
                border-radius: 50%;
                height: 33px;
                width: 33px;
                line-height: 33px;
                background-color: $colGrey;
                color: $colDark;
            }
        }
    }
}
